<h1>
  <p align="center">
    Riot Stats
  </p>
  <div align="center">Search For A Summoner</div>
  <div style="margin:auto" align="center">
    <input #field (keyup.enter)="onEnter(field.value)"  type = "text" value = "" size="50" name="inputField" maxlength="50" style="font-size: 30px">
  </div>
  <div align="center" >
    <button (click)="onEnter(field.value)"  style="font-size: 25px">Search</button>
  </div>
</h1>
