<div class="col-1">
  <h3>Summoner name</h3> 
  <p class="info">ID</p>
  <div class="col-2">
    <span class="detail">Summoner Details</span>
  
  <td>{{summoner.endIndex}}</td>
  <td>{{summoner.matches}}</td>
  <td>{{summoner.startIndex}}</td>
  <td>{{summoner.totalGames}}</td>

  <!--Match Referance-->
  <td>{{summoner.champion}}</td>
  <td>{{summoner.lane}}</td>
  <td>{{summoner.matchId}}</td>
  <td>{{summoner.platformId}}</td>
  <td>{{summoner.queue}}</td>
  <td>{{summoner.region}}</td>
  <td>{{summoner.role}}</td>
  <td>{{summoner.season}}</td>
  <td>{{summoner.timestamp}}</td>
  </div>
</div>
